---
import Layout from "../layouts/Layout.astro";
import HomeLink from "../components/HomeLink.astro";
import TagCloud from "../components/TagCloud.astro";

import BlogIcon from "../assets/blog.svg";
import SnippetsIcon from "../assets/snippets.svg";
import ProjectsIcon from "../assets/projects.svg";
import ProfileIcon from "../assets/profile.png";
import Metadata from "../components/Metadata.astro";
import { getCollection } from "astro:content";
import BlogExcerpt from "../components/BlogExcerpt.astro";
import WebsiteStructuredData from "../components/WebsiteStructuredData.astro";

const title = "Home";

const recentPosts = (await getCollection("blogs"))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);

const homeLinks = [
  {
    url: "/blog/",
    imageSrc: BlogIcon,
    name: "Blog",
    extraText:
      "Blog posts I've written on various topics, usually tech related",
  },
  {
    url: "/snippets/",
    imageSrc: SnippetsIcon,
    name: "Snippets",
    extraText:
      "Various small code snippets I've found useful in the past but probably dont warrent an entire blog post",
  },
  {
    url: "/projects/",
    imageSrc: ProjectsIcon,
    name: "Projects",
    extraText: "Current projects I'm working on, may or may not be interesting",
  },
  {
    url: "/about/",
    imageSrc: ProfileIcon,
    name: "About",
    extraText: "Info about me!",
  },
];

const description =
  "Welcome to Zyzle.dev, personal website for Colin McCulloch";
const keywords =
  "Zyzle, Colin McCulloch, personal website, blog, personal projects";
const url = new URL("/", Astro.site).href;
const author = "Colin McCulloch";
---

<Metadata
  title={title}
  author={author}
  description={description}
  keywords={keywords}
  type="website"
  slot="metadata"
/>

<WebsiteStructuredData slot="structured-data" title={title} description={description} keywords={keywords} url={url} author={author} />

<Layout>
  <h1 class="text-zgold text-4xl font-bold my-4">Home</h1>
  <section class="prose prose-invert prose-zyzle mx-auto mt-4 mb-6 lg:text-lg">
    Welcome to Zyzle.dev a place for me, <a href="/about/"
      >Colin "Zyzle" McCulloch</a
    > to blog, show off some projects and gather together random things I've been
    working on.
  </section>
  <nav class="flex flex-1 flex-col lg:flex-row gap-6 mb-6">
    <section class="flex-2">
      {
        homeLinks.map((link) => (
          <HomeLink
            url={link.url}
            imageSrc={link.imageSrc}
            name={link.name}
            extraText={link.extraText}
          />
        ))
      }
      <section class="mt-12">
        <h2 class="text-zgold text-xl font-bold mt-6 mb-2">Latest articles:</h2>
        {
          recentPosts.map((post) => (
            <BlogExcerpt
              id={post.id}
              title={post.data.title}
              pubDate={post.data.pubDate}
              tags={post.data.tags}
              description={post.data.description}
              hideTags={true}
            />
          ))
        }
      </section>
    </section>
    <aside class="flex-1">
      <h2 class="text-zgold text-xl font-bold">Article tags:</h2>
      <TagCloud />
    </aside>
  </nav>
</Layout>
