---
import { formatRelativeDateString } from "../utils/dateUtils";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} showScroll={true}>
  <article class="prose prose-invert prose-zyzle mx-auto mb-6">
    <h1 class="text-zlime">{frontmatter.title}</h1>
    <div class="text-zcyan">
      {formatRelativeDateString(frontmatter.pubDate)}
    </div>
    <div class="text-zgold flex flex-wrap">
      {
        frontmatter.tags.map((tag: string) => (
          <span class="not-prose">
            <a href={`/tags/${tag}`}>
              <span class="  bg-zblock rounded-full px-2 mb-1 whitespace-nowrap hover:underline">
                #{tag}
              </span>
            </a>
          </span>
        ))
      }
    </div>
    <slot />
  </article>
</Layout>
